<div class="jumbotron">
    <h1>We MEAN Business</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor = "let business of business_list">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        {{ business.name }}
                    </div>
                    <div class="card-body">
                        This business is based in
                        {{ business.city }}
                    </div>
                    <div class="card-footer">
                        {{ business.review_count }}
                        reviews available
                    </div>
                </div>
            </div>
        </div> <!-- col -->
    </div>    <!-- row -->
</div>    <!-- container -->