#search {

    
    /* position: absolute;
    top:50;
    left: 0; */
    width: 100%;
    font-style: italic;
    
}

#faSearch {

    margin-top: 8px;
    margin-right: 10px;
}

input {

    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=search]:focus:not([readonly]) {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #132f47;
    outline: none;
    outline-color: white;
    /* box-shadow: 0 0 0 1px #132f47; */
    box-shadow: 0 0 0 1px white;
}

#searchButton {
    
    margin-left: 10px;
    box-shadow: 0 0 0 1px #132f47;
    border: none;
    background-color: #132f47;
}

#searchForm {
    border: none;
}

.breadcrumb {
    background-color: white;
}

.breadcrumbList {
    list-style: none;
}

#moviesFa {

    
    font-size: 1.8rem;
}

#moviesFa:hover {

    color: #132f47;
}

#movies {

    text-decoration: underline;
    font-size: 1.1rem;
    
}

#movies:hover {

    color: #132f47;
    
}

#moviesEdit {

    font-size: 1.1rem;
    font-style: italic;
    
}

#text {
    color: #132f47;
}

#title {

    box-shadow: 0 0 0 1px #132f47;
}

#description {

    box-shadow: 0 0 0 1px #132f47;
}

#year {

    box-shadow: 0 0 0 1px #132f47;
}

#cast {

    box-shadow: 0 0 0 1px #132f47;
}

#genres {

    box-shadow: 0 0 0 1px #132f47;
}

#updateMovie {

    background-color: rgb(19, 47, 71);
    color: white; 
}

#titleAsterisk {

    color: red;
    position: absolute;
    margin-left: 5px;
    font-size: 10px;
}

#yearAsterisk {

    color: red;
    position: absolute;
    margin-left: 5px;
    font-size: 10px;
}

#compAsterisk {

    color: red;
    margin-bottom: 5px;
    font-size: 10px;
}

#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#132f47; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#toTop:hover {
    background-image: linear-gradient(to bottom right, #235581, #132f47);
}