<div class="row" id="footerRow">       
    <div  class="col-md-2"></div>
    <footer class="section footer-classic context-dark bg-image">
        <div class="container">
            <div style="padding-top:5%; padding-bottom: 5%; text-align: center" class="row">
                <div style="border-right: 1px solid grey;padding-right: 45px" class="col">
                    <div class="pr-xl-3">
                        <h3 class="footerHeader">Movie Nerds</h3>
                    
                        <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Stavroula Iatropoulou</span><span>. </span><p>All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col" style="margin-left: 30px;">
                    <h4>Basic Links</h4>
                    <ul class="list" style="list-style:none;float:left;">
                        <li class="list-item"><a [routerLink]="['/movies']" style = "color:#132f47;cursor: pointer">Movies</a></li>
                        <li class="list-item"><a [routerLink]="['/addMovie']" style = "color:#132f47;cursor: pointer">Add Movie</a></li>
                    </ul>
                    
                </div>
            
            </div>
        </div>
    </footer>
</div>