<div class="row" id="footerRow">       
    <div  class="col-md-2"></div>
    <footer class="section footer-classic context-dark bg-image">
        <div class="container">
            <div style="padding-top:5%; padding-bottom: 5%; text-align: center" class="row">
                <div style="border-right: 1px solid grey;padding-right: 45px" class="col">
                    <div class="pr-xl-3">
                        <p class="footerHeader">Movie Nerds</p>
                    
                        <p class="rights"><span>©  </span><span class="copyright-year">2019</span><span> </span><span>Stavroula Iatropoulou</span><span>. </span><p>All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col" style="margin-left: 30px;">
                    <h5>Get Involved</h5>
                    
                </div>
            
            </div>
        </div>
    </footer>
</div>