nav {

    margin-top: 22px;
    

}

.nav-item {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    
}

#navBarRow {
    
    background-image: linear-gradient(to bottom right, #235581, #132f47);
    height: 110px;
}

/* .navbar-nav {
    float:none;
    
    margin-left: 80px;
    display: block;
    text-align: center;
} */

/* .navbar-nav > li {
    display: inline-block;
    float:none;
} */
#middleRow {
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
}

#search {
    
    position: absolute;
    top:50;
    left: 0;
    width: 100%;
    font-style: italic;
}

.active-blue-4 input[type=text]:focus:not([readonly]) {

    border: 1px solid #132f47;
    box-shadow: 0 0 0 1px #132f47;
}

#logo {

    margin-top: 15px;
    margin-left: 100px;
    width: 60%;
    height: 60%;
}

#footerRow {

    background-color: #a2a5a1;
    margin-top: 20%;
}

/* #login {
    margin-left: 900px;
} */

/* #signup {
    margin-left: 25%;
} */

