nav {

    margin-top: 22px;
    

}

.nav-item {

    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    
}

#navBarRow {
    
    background-image: linear-gradient(to bottom right, #235581, #132f47);
    height: 110px;
}

/* .navbar-nav {
    float:none;
    
    margin-left: 80px;
    display: block;
    text-align: center;
} */

/* .navbar-nav > li {
    display: inline-block;
    float:none;
} */
#middleRow {
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
}

#search {

    
    /* position: absolute;
    top:50;
    left: 0; */
    width: 100%;
    font-style: italic;
    
}

#faSearch {

    margin-top: 8px;
    margin-right: 10px;
}

input {

    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=search]:focus:not([readonly]) {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #132f47;
    outline: none;
    outline-color: white;
    /* box-shadow: 0 0 0 1px #132f47; */
    box-shadow: 0 0 0 1px white;
}

.active-blue-4 input[type=text]:focus:not([readonly]) {

    border: 1px solid #132f47;
    box-shadow: 0 0 0 1px #132f47;
}

.active-blue-4 {

    box-shadow: 1px 1px 2px grey;
}

#signoutBtn {

    background-image: linear-gradient(to bottom right, #235581, #132f47);
    box-shadow: 0 0 0 1px #132f47;
    border: none;
}

#searchButton {
    
    margin-left: 10px;
    box-shadow: 0 0 0 1px #132f47;
    border: none;
    background-color: #132f47;
}

#searchForm {
    border: none;
}


#logo {

    margin-top: 15px;
    margin-left: 100px;
    width: 60%;
    height: 60%;
}

#footerRow {

    background-color: #bebebe;
    margin-top: 20%;
}

#dropdownMenuButton {

    color: rgb(127, 155, 178);
    font-size: 20px;
    font-family: Helvetica, sans-serif;;
}

#dropdownMenuButton:active {

    border-color: none;
    outline-color: none;
    box-shadow: none;
    
}

#dropdownMenuButton:hover {
    color: rgb(198, 207, 216);
}


/* #login {
    margin-left: 900px;
} */

/* #signup {
    margin-left: 25%;
} */

