.error { background-color: #fff0f0; }

#search {

    
    /* position: absolute;
    top:50;
    left: 0; */
    width: 100%;
    font-style: italic;
    
}

#faSearch {

    margin-top: 8px;
    margin-right: 10px;
}

input {

    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=search]:focus:not([readonly]) {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #132f47;
    outline: none;
    outline-color: white;
    /* box-shadow: 0 0 0 1px #132f47; */
    box-shadow: 0 0 0 1px white;
}

#searchButton {
    
    margin-left: 10px;
    box-shadow: 0 0 0 1px #132f47;
    border: none;
    background-color: #132f47;
}

#searchForm {
    border: none;
}

.breadcrumb {
    background-color: white;
}

.breadcrumbList {
    list-style: none;
}

#movies {

    
    text-decoration: underline;
    font-size: 1.1rem;
}

#movies:hover {

    color: #132f47;
    
    
}

#moviesFa {

    
    text-decoration: underline;
    font-size: 1.8rem;
}

#moviesFa:hover {

    color: #132f47;
    
    
}


#selectSort {

    margin-bottom: 10%;
    margin-left: 10px;
    height: 30px;

}

#selectView {

    margin-top: 0px;
    margin-left: 10px;
    height: 30px;

}

#submitReview {

    background-color: rgb(19, 47, 71);
    color: white; 
}

p button {

    box-shadow: 0 0 0 1px rgb(19, 47, 71);
    margin-left: 40px;
}

p button:hover{

    background-image: linear-gradient(to bottom right, #235581, #132f47);

}

p button:disabled {

    background-image: none;
}

#deleteButton:hover {
    
    background-image: linear-gradient(to bottom right, #bb2828, #f50000);
}

#text {

    color: #132f47;
}

/* #likeButton {

    box-shadow: 0 0 0 1px rgb(19, 47, 71);
    margin-left: 40px;
}

#likeButton:hover {

    background-image: linear-gradient(to bottom right, #235581, #132f47);
}

#likeButton:disabled{

    background-image: none;
    
}

#dislikeButton {

    box-shadow: 0 0 0 1px rgb(19, 47, 71);
    
    margin-left: 10px;
}

#dislikeButton:hover {

    background-image: linear-gradient(to bottom right, #235581, #132f47);
}

#dislikeButton:disabled{

    background-image: none;
    
} */

