<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor = "let movie of webService.movie_list | async">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        {{ movie.title }}   {{movie.avg_stars}} stars
                    </div>
                    <div class="card-body">
                        This movie released in
                        {{ movie.year }}
                        
                    </div>
                    <div class="card-footer">
                        Cast 
                        {{ movie.cast }}
                    </div>
                </div>
            </div>
        </div> 
    </div>    
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor ="let review of webService.reviews | async">
                <div class="card-header">
                    Review by {{ review.username }}
                    on {{ review.date | date }}
                </div>
                <div class="card-body">
                    {{ review.text }}
                    <hr>
                    <p><strong>Votes:</strong>
                    {{ review.votes.like }} like,
                    {{ review.votes.dislike }} dislike,
                    </p>
                </div>
                <div class="card-footer">
                    {{ review.stars }}
                    stars
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <button class="btn btn-light" (click)="previousPage()">Previous</button>
            <button class="btn btn-light" (click)="firstPage()">First</button>
            
            <button class="btn btn-light" (click)="getPage(page)" *ngFor="let page of webService.pagesReviews">
                    {{page + 1}}  
            </button>
            <button class="btn btn-light" (click)="lastPage()">Last</button>
            <button class="btn btn-light" (click)="nextPage()">Next</button>
        </div>
        <!-- <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6 text-right">
            
        </div> -->
    </div>
        <h2>Please review this business</h2>
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" formControlName="name" [ngClass]="{'error' : isInvalid('name')}">
            </div>
            <div class="form-group" >
                <label for="review">Please leave your review below</label>
                <textarea id="review" rows="3" name="review" class="form-control" formControlName="review" [ngClass]="{'error' : isInvalid('review')}"></textarea>
            </div>
            <div class="form-group">
                <label for="stars">Please provide a rating (5 = best)</label>
                <select id="stars" name="stars" class="form-control" formControlName="stars">
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select>
            </div>
            <span *ngIf="isIncomplete()">You must complete all fields</span>
            <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">Submit</button>
        </form>
</div>

<div class="jumbotron">
    
    <button *ngIf="!authService.isAuthenticated()"
    (click)="authService.login()">Login</button>
    <button *ngIf="authService.isAuthenticated()"
    (click)="authService.logout()">Logout</button>
</div>