<div class="row justify-content-md-center" id="middleRow">

        <div class="col-12 col-md-10 col-lg-8">
                <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="card card-sm" id="searchForm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <fa id="faSearch" name="search"></fa>
                        </div>
                        
                        <div class="col">
                            <input id="search" formControlName="searchWords" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for a movie by title, year or genre...">
                        </div>
                        
                        <div class="col-auto">
                            <button id="searchButton" class="btn btn-lg btn-success" type="submit">Search</button>
                        </div>
                        
                    </div>
                </form>
            </div>
    
    
</div>

<div class="row breadcrumb">
        <div class="col-md-12">
          <ul class="list-inline">
            <li id="moviesFa" class="list-inline-item"><fa name="home"  [routerLink]="['/']" style = "cursor: pointer"></fa></li>
            <li class="list-inline-item"> > </li>
            <li id="movies" class="list-inline-item" [routerLink]="['/movies']" style = "cursor: pointer">Movies</li>
            <li class="list-inline-item"> > </li>
            <li style="font-size: 1.1rem" *ngFor = "let movie of webService.movie_list | async" class="list-inline-item"><i>{{movie.title}}</i></li>
               
                       
           
          </ul>
        </div>
</div>

<button (click)="topFunction()" id="toTop" title="Go to top"><fa name="arrow-up"></fa></button>


<div class="container" style="margin-top:100px;">
    <div class="row">
        <div class="col-sm-12">
                <span *ngIf = "!authService.isAuthenticated()">
                        <h5 id="text">
                            Please log in to edit or remove a movie
                        </h5>
                <hr>
                </span>

            <div *ngFor = "let movie of webService.movie_list | async">
                <div class="row">
                    <div class="col-sm-3"><a [routerLink] = "['/movies', movie._id]" ><img class="rounded" src="../images/movie.jpg" width="200" height="278"  alt=""></a></div>
                   <div class="col-sm-9">
                        <div class="card  mb-3">
                                <div class="card-header">
                                    <b>{{ movie.title }}</b>  <span id="stars">{{movie.avg_stars}}<fa id="starsFa" name="star"></fa></span>
                                </div>
                                <h6 id="subtitle" class="card-subtitle text-muted">{{ movie.year }}</h6>
                                <div class="card-body">
                                        
                                        {{ movie.description }}
                                </div>
                                <div class="card-footer">
                                    <p>
                                        <b>Cast: </b> 
                                        {{ movie.cast }}
                                        <span id="delEdit" *ngIf = "authService.isAuthenticated()"><button id="deleteButtonMovie" (click)="delete(movie)" type="button" class="btn btn-danger"><fa name="trash"></fa>Delete</button>
                                        <button id="editButton" (click)="edit(movie)" type="button" class="btn"><fa name="edit"></fa>Edit</button></span>
                                    
                                    </p> 
                                </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div> 
    </div>    
</div>
<div *ngIf="!webService.noReviews" class="row" style="margin-top:40px;"><div class="col-sm-2"></div><div class="col-sm-1"><h5 style="margin-left: 60px;">Reviews:</h5></div></div>
<div *ngIf="!webService.noReviews" class="row">
            
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
                
                <div class="input-group mb-3">
                        <p style="margin-top:4px;">View <fa name="list"></fa>:</p>
                        <select (change)="onChangeView()" [(ngModel)]="selectedOptionView"  id="selectView">
                          <option value="0" selected>Choose...</option>
                          <option value="5">5 Items</option>
                          <option value="10">10 Items</option>
                          <option value="15">15 Items</option>
                          <option value="All">All Items</option>
                        </select>
            
                </div>
        </div>
        <div class="col-sm-3">
                
                <div class="input-group mb-3">
                        <p style="margin-top: 4px; margin-left:0px;">Sort by <fa name="sort"></fa>:</p>
                        <select (change)="onChangeSort()" [(ngModel)]="selectedOptionSort"  id="selectSort">
                          <option value="0" selected>Choose...</option>
                          <option value='-avg_stars'>Rating (Top Rated First)</option>
                          <option value='avg_stars'>Rating (Less Rated First)</option>
                          <option value='date'>Least Recent First </option>
                          <option value='-date'>Most Recent First) </option>
                        </select>
            
                </div>
        </div>
        
    
    </div>

<div class="container">
    <div  class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3" *ngFor ="let review of webService.reviews | async; index as i">
                <div class="card-header">
                    Review by <a style="color:#132f47;text-decoration: underline;" [routerLink]="['/profile', review.username]"><b>{{ review.username }}</b></a>
                    on {{ review.date | date }}
                </div>
                <div class="card-body">
                    {{ review.text }}
                    <hr>
                    <span id="stars">{{review.stars}}<fa id="starsFa" name="star"></fa></span>
                </div>
                <div class="card-footer">
                    <p><strong>Votes:</strong>
                        {{ review.votes.like }} <fa style="color: green;" name="thumbs-up"></fa>,
                        {{ review.votes.dislike }} <fa  style="color: red;" name="thumbs-down"></fa>
                        <button *ngIf = "authService.isAuthenticated()" class="btn rounded" (click)="likeSubmit(review, i)" id="likeButton{{i}}"><fa  name="thumbs-up"></fa>Like!</button> <button *ngIf = "authService.isAuthenticated()" class="btn rounded" (click)="dislikeSubmit(review, i)" id="dislikeButton{{i}}"><fa name="thumbs-down"></fa>Dislike!</button> 
                        <span *ngIf = "authService.isAuthenticated()"><button id="deleteButton" (click)="delete(review)" type="button" class="btn btn-danger"><fa name="trash"></fa>Delete</button></span>
                    
                    </p>
                    
                   
                   
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!webService.noReviews" class="row">
        <div class="col-md">
            <button class="btn btn-light" (click)="previousPage()">Previous</button>
            <button class="btn btn-light" (click)="firstPage()">First</button>
            
            <button class="btn btn-light" (click)="getPage(page)" *ngFor="let page of webService.pagesReviews" id="pageButton{{page + 1}}">
                    {{page + 1}}  
            </button>
            <button class="btn btn-light" (click)="lastPage()">Last</button>
            <button class="btn btn-light" (click)="nextPage()">Next</button>
        </div>
        
    </div>
    <span *ngIf = "authService.isAuthenticated()">
        <h2>Please review this movie</h2>
        <form [formGroup]="reviewForm" (ngSubmit)="onSubmitReview()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" class="form-control" formControlName="name" [ngClass]="{'error' : isInvalid('name')}" [(ngModel)]="review.name">
            </div>
            <div class="form-group" >
                <label for="review">Please leave your review below</label>
                <textarea id="review" rows="3" name="review" class="form-control" formControlName="review" [(ngModel)]="review.review" [ngClass]="{'error' : isInvalid('review')}"></textarea>
            </div>
            <div class="form-group">
                <label for="stars">Please provide a rating (5 = best)</label>
                <br>
                <ngb-rating style="color: goldenrod;" class="form-control" formControlName="stars"  [(ngModel)]="review.stars" name="stars" [(rate)]="currentRate" max="5"></ngb-rating>
            </div>
            
            <span *ngIf="isIncomplete()">You must complete all fields</span>
            <button *ngIf="!isIncomplete()" type="submit" id="submitReview" class="btn">Submit</button>
        </form>
    </span>
    <span *ngIf = "!authService.isAuthenticated()">
            <h5 id="text">
                Please log in to leave a review for this movie, vote or delete a review
            </h5>
    </span>
        
</div>
