<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div *ngFor = "let movie of webService.movie_list | async">
                <div class="card text-white bg-primary mb-3">
                    <div class="card-header">
                        {{ movie.title }}
                    </div>
                    <div class="card-body">
                        This movie released in
                        {{ movie.year }}
                    </div>
                    <div class="card-footer">
                        Cast 
                        {{ movie.cast }}
                    </div>
                </div>
            </div>
        </div> 
    </div>    
</div> 

<div class="jumbotron">
    
    <button *ngIf="!authService.isAuthenticated()"
    (click)="authService.login()">Login</button>
    <button *ngIf="authService.isAuthenticated()"
    (click)="authService.logout()">Logout</button>
</div>