<div class="row justify-content-md-center" id="middleRow">

    <div class="col-12 col-md-10 col-lg-8">
            <form [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()" class="card card-sm" id="searchForm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <fa id="faSearch" name="search"></fa>
                    </div>
                    
                    <div class="col">
                        <input id="search" formControlName="searchWords" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for a movie by title, year or genre...">
                    </div>
                    
                    <div class="col-auto">
                        <button id="searchButton" class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    
                </div>
            </form>
        </div>


</div>

<!-- <div class="row breadcrumb">
    <div class="col-md-12">
      <ul class="list-inline">
        <li id="moviesFa" class="list-inline-item"><fa name="home"  [routerLink]="['/']" style = "cursor: pointer"></fa></li>
        <li class="list-inline-item"> > </li>
        <li id="movies" class="list-inline-item" [routerLink]="['/movies']" style = "cursor: pointer">Movies</li>
        <li class="list-inline-item"> > </li>
        <li style="font-size: 1.1rem" *ngFor = "let movie of webService.movie_list | async" class="list-inline-item"><i>{{movie.title}}</i></li>    
      </ul>
    </div>
</div> -->

<button (click)="topFunction()" id="toTop" title="Go to top"><fa name="arrow-up"></fa></button>

<div class="container">
    <div class="row">
       
        <div class="col-sm-3">
            <img style="border-radius: 50%;" src="../images/profile.png" alt="Profile pic" style="width:200px">
            
        </div>
        <div class="col-sm-3">
            <h2 style="margin-top:30px;color:#132f47"><b>{{webService.username}}</b></h2>
            <h4 style="margin-top:30px;color:#132f47">Total Reviews: {{webService.totalReviews}}</h4>
        </div>
    </div>
    <hr>
    <div class="row">
        <h4 style="margin-top:30px;color:#132f47">{{webService.username}}'s Reviews:</h4>
    </div>
    <hr>
    <div class="row">
            <div class="col-sm-12">
                <div class="card bg-light mb-3" *ngFor ="let review of webService.userReviews_list | async; index as i">
                    <div class="card-header">
                        Review by <a style="color:#132f47;text-decoration: underline;" [routerLink]="['/profile', review.username]"><b>{{ review.username }}</b></a>
                        on {{ review.date | date }}
                    </div>
                    <div class="card-body">
                        {{ review.text }}
                        <hr>
                        <span id="stars">{{review.stars}}<fa id="starsFa" name="star"></fa></span>
                    </div>
                    <div class="card-footer">
                        <p><strong>Votes:</strong>
                            {{ review.votes.like }} <fa style="color: green;" name="thumbs-up"></fa>,
                            {{ review.votes.dislike }} <fa  style="color: red;" name="thumbs-down"></fa>
                            <i id="text">Review for <a id="mvLink" [routerLink]="['/movies', review.movie_id]" >"{{review.title}}"</a></i>
                            <!-- <button *ngIf = "authService.isAuthenticated()" class="btn rounded" (click)="likeSubmit(review, i)" id="likeButton{{i}}"><fa  name="thumbs-up"></fa>Like!</button> <button *ngIf = "authService.isAuthenticated()" class="btn rounded" (click)="dislikeSubmit(review, i)" id="dislikeButton{{i}}"><fa name="thumbs-down"></fa>Dislike!</button> 
                            <span *ngIf = "authService.isAuthenticated()"><button id="deleteButton" (click)="delete(review)" type="button" class="btn btn-danger"><fa name="trash"></fa>Delete</button></span>
                         -->
                        </p>
                        
                        
                        
                    </div>
                </div>
            </div>
    </div>
    
    
</div>