<div class="container-fluid">

        <div class="row justify-content-md-center">

                <div class="col-12 col-md-10 col-lg-8">
                        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="card card-sm" id="searchForm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col-auto">
                                    <fa id="faSearch" name="search"></fa>
                                </div>
                                <!--end of col-->
                                <div class="col">
                                    <input id="search" formControlName="searchWords" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for a movie by title, year or genre...">
                                </div>
                                <!--end of col-->
                                <div class="col-auto">
                                    <button id="searchButton" class="btn btn-lg btn-success" type="submit">Search</button>
                                </div>
                                <!--end of col-->
                            </div>
                        </form>
                    </div>
        </div>
        <div class="row breadcrumb">
                <div class="col-md-12">
                  <ul class="list-inline">
                    <li id="moviesFa" class="list-inline-item"><fa name="home" [routerLink]="['/']" style = "cursor: pointer"></fa></li>
                    <li class="list-inline-item"> > </li>
                    <li id="searchRes" class="list-inline-item">Search Results for: "{{webService.searchString}}"</li>
                  </ul>
                </div>
        </div>

        <button (click)="topFunction()" id="toTop" title="Go to top"><fa name="arrow-up"></fa></button>

        <div *ngIf="!webService.noResults" class="row">
            
            <div class="col-sm-2"><h5> <fa name="search"></fa> {{webService.numberOfResults}} results found for "{{webService.searchString}}" :</h5></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-1">
                    
                    <div class="input-group mb-3">
                            <p style="margin-top:4px;">View <fa name="list" ></fa>:</p>
                            <select (change)="onChangeView()" [(ngModel)]="selectedOptionView"  id="selectView">
                              <option value="0" selected>Choose...</option>
                              <option value="5">5 Items</option>
                              <option value="10">10 Items</option>
                              <option value="15">15 Items</option>
                              <option value="All">All Items</option>
                            </select>
                
                    </div>
            </div>
            <div class="col-sm-2">
                    
                    <div class="input-group mb-3">
                            <p style="margin-top: 4px; margin-left:30px;">Sort by  <fa name="sort"></fa>:</p>
                            <select (change)="onChangeSort()" [(ngModel)]="selectedOptionSort"  id="selectSort">
                                <option value="0" selected>Choose...</option>
                                <option value='relevance'>Relevance</option>
                                <option value='-avg_stars'>Rating (Top Rated First)</option>
                                <option value='avg_stars'>Rating (Less Rated First)</option>
                                <option value='title'>Title (Ascending)</option>
                                <option value='-title'>Title (Descending)</option>
                                <option value='year'>Year (Older First) </option>
                                <option value='-year'>Year (Recent First) </option>
                            </select>
                
                    </div>
            </div>
            
        
        </div>
        


        <div *ngIf="!webService.noResults" class="row searchResRow justify-content-md-center">
        
                   
                    <div class="col-sm-8">
                            <span *ngIf = "!authService.isAuthenticated()">
                                    <h5 id="text">
                                        Please log in to edit or remove a movie
                                    </h5>
                            </span>
                            <div *ngFor = "let movie of webService.searchResults_list | async">
                                <div class="row">
                                        <div class="col-sm-2"><a [routerLink] = "['/movies', movie._id]" ><img class="rounded" src="../images/movie.jpg" width="185" height="278"  alt=""></a></div>
                                        <div class="col-sm-6">
                                            <div class="card  mb-10" >
                                                <div class="card-header"  [routerLink] = "['/movies', movie._id]" style = "cursor: pointer">
                                                        {{ movie.title }} <span id="stars">{{movie.avg_stars}}<fa id="starsFa" name="star"></fa></span>
                                                </div>
                                                <h6 id="subtitle" class="card-subtitle text-muted">({{ movie.year }}), {{movie.genres}}</h6>
                                                <div class="card-body">
                                                        
                                                        {{ movie.description }}
                                                </div>
                                                <div class="card-footer" style = "border:none;">
                                                    <p>
                                                        <a style="color:#132f47" [routerLink] = "['/movies', movie._id]">More...</a>
                                                        <span id="delEdit" *ngIf = "authService.isAuthenticated()"><button id="deleteButton" (click)="delete(movie)" type="button" class="btn btn-danger"><fa name="trash"></fa>Delete</button>
                                                            <button id="editButton" (click)="edit(movie)" type="button" class="btn"><fa name="edit"></fa>Edit</button>
                                                        </span>
                                                    </p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <br><br>
                                       
                            </div>
                    </div>
        
                    
        </div>
        
        <div *ngIf="!webService.noResults" class="row">
            <div class="col-md-2"></div>
                <div class="col-md">
                    <button class="btn btn-light" (click)="previousPageSearch()">Previous</button>
                    <button class="btn btn-light" (click)="firstPageSearch()">First</button>
                    
                    <button class="btn btn-light" (click)="getPageSearch(page)" *ngFor="let page of webService.pagesSearch" id="pageButton{{page + 1}}" >
                            {{page + 1}}  
                    </button>
                    <button class="btn btn-light" (click)="lastPageSearch()">Last</button>
                    <button class="btn btn-light" (click)="nextPageSearch()">Next</button>
                </div>
        </div> 
        
        <div *ngIf="webService.noResults" class="row searchRes justify-content-md-center">
        
            <h2>No Results found</h2>
        
        </div>

</div>




