input {

    border-top: none;
    border-right: none;
    border-left: none;
}

input[type=search]:focus:not([readonly]) {

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #132f47;
    outline: none;
    outline-color: white;
    /* box-shadow: 0 0 0 1px #132f47; */
    box-shadow: 0 0 0 1px white;
}

#searchButton {
    
    margin-left: 10px;
    box-shadow: 0 0 0 1px #132f47;
    border: none;
    background-color: #132f47;
}

#searchForm {
    border: none;
}

#search {

    
    /* position: absolute;
    top:50;
    left: 0; */
    width: 100%;
    font-style: italic;
    
}

.breadcrumb {
    background-color: white;
}

.breadcrumbList {
    list-style: none;
}

#moviesFa {

    
    text-decoration: underline;
    font-size: 1.8rem;
}

#moviesFa:hover {

    color: #132f47;
    
    
}

#searchRes {


    font-style: italic;
    font-size: 1.1rem;
}

.searchResRow {
    margin-top: 30px;
}

#selectView {

    margin-top: -43px;
    margin-left: 75px;
    height: 30px;

}

#pageButton:focus {

    color: white;
    background-color: #132f47;
}

#selectSort {

    margin-bottom: 10%;
    margin-left: 10px;
    height: 30px;

}

#toTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#132f47; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#toTop:hover {
    background-image: linear-gradient(to bottom right, #235581, #132f47);
  }